.marquee {
    color: #3CB371;
    font-style: Arial;
    font-size: 18px;
    diplay: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

.header {
    position: sticky;
    top: 0;
    padding: 10px 16px;
    background: #FAFAD2;
    color: #2E8B57;
    font-style: Arial;
    font-size: 20px;
    display: flex;
    justify-content: top;
    align-items: top;
}

.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #32CD32;
    background-image: url("https://img.freepik.com/premium-photo/cup-green-tea-isolated-white-background_728202-966.jpg");
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: flex;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    position: sticky;
    top: 0;
}

.ul li a.active {
    background-color: #04AA6D;

.img {
    width: 205px;
    height: 260px;
    display: flex;
    justify-content: flex-start;
}

.p1 {
    color: green;
    font-size: 15px;
    font-style: Arial;
}

.p2 {
    color: brown;
    font-size: 15px;
    font-style: Arial;
}

.button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: gold;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

.button:hover {
    background-color: #B5651D;
}
