marquee {
    color: green;
    font-style: Arial;
    font-size: 20px;
}

h1 {
    color: brown;
    font-style: Arial;
    font-size: 20px;
}

body {
    background-image: url("https://img.freepik.com/premium-photo/cup-green-tea-isolated-white-background_728202-966.jpg");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f5f5dc;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #763f00;
}

img {
    width: 205px;
    height: 260px;
    display: flex;
    justify-content: flex-start;
}

p {
    color: gold;
    font-size: 15px;
    font-style: monospace;
}
