* {
    margin: 0;
}

.feature {
    background-color: white;
    background-size: cover;
    height: 100vh;
    position: relative;
}

<style>
.p {
    background-image: url)'https://www.seema.com/wp-content/uploads/2022/07/Black-tea1.jpg');
}
</style>

.cta-box {
    position: absolute;
    bottom: 225px;
    left: 125px; 
}
