marquee {
    color: #556B2F;
    font-style: Arial;
    font-size: 20px;
}

h1 {
    color: #2E8B57;
    font-style: Arial;
    font-size: 20px;
}

body {
    background-image: url("https://img.freepik.com/premium-photo/cup-green-tea-isolated-white-background_728202-966.jpg");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f5f5dc;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #763f00;
}
